body {
  align-content: center;
  background-color: #fff5e6;
  color: #504e4e;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainBtn {
  background: linear-gradient(180deg, #60b6bf 0%, rgba(150, 238, 222, 0) 100%);
  border: 1px solid #504e4e;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  width: 100px;
}

.auxBtn {
  background: linear-gradient(180deg, #b1b0b0 0%, rgba(150, 238, 222, 0) 100%);
  border: 1px solid #969393;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  width: 100px;
}

.simpleText {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
}

.pageTitle {
  font-weight: 300;
  text-align: center;
}

form {
  align-self: center;
}

.box {
  font-size: 18px;
  margin: 6px;
}

button {
  margin: 6px;
}

table {
  border-collapse: collapse;
  width: 70%;
}

td,
th {
  border: 1px solid #ff8580;
  text-align: left;
  padding: 4px;
}

tr:nth-child(odd) {
  background-color: #60b6bf;
  color: #fff5e6;
}

a {
  color: #504e4e;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: 100ms;
}

a:hover {
  color: #fff5e6;
}

nav {
  width: 100%;
  background-color: #ffc4bf;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

ul li:hover {
  background-color: #ff8580;
}

ul li a {
  color: #504e4e;
}

.littleMenu {
  width: 100%;
  padding: 10px 10px;
  background-color: #ffc4bf;
  text-align: right;
  box-sizing: border-box;
  font-size: 20px;
  display: none;
}

footer {
  font-size: 12px;
  text-align: right;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .littleMenu {
    display: block;
  }

  ul {
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
